.headerContainer{
    background-color: white;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item{
    color:grey;
}

.active{
    color:rgba(120, 204, 54, 1);
}