.shit {
    background-color: white; 
    color: rgba(147, 146, 146, 1); 
    padding: 8px; 
    border-radius: 20px; 
    width: 100%; 
    border-width: 0px; 
    resize: none;
    max-width:405px;
    font-size: 16px;
    font-family: 'Inter';

}
textarea:focus{
    outline-style: none;
}